.body {
    min-width: 900px;
    max-width: 1024px;
    background-color: white;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 30px 10px 15px;
    color: #777;
}
.top > h3 {
    text-transform: uppercase;
}

nav {
    display: flex;
    gap: 30px;
}

nav > a {
    color: #777;
}

nav > :hover {
    color: #bfba55;
}

.head {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-width: 100%;
    max-width: 2048px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.head > h1 {
    color: white;
    margin: 0;
    font-size: 50px;
}

.head > p {
    color: #bfba55;
    font-weight: 600;
}

.button-top {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 10px;
    margin: 50px;
}

.button-top:hover {
    color: white;
    background-color: #777;
    cursor: pointer;
    transition: all 0.5s;
}

.artcl {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 50px 20%;
}

.artcl > div > img {
    max-width: 50px;
    border-radius: 35px;
}

.artcl > div {
    display: flex;
    justify-content: start;
    color: #777;
}

.artcl > p {
    color: #777;
}

hr{
    max-width: 900px;
}

.button-main {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    background: white;
    border-color: #777;
}

.button-main:hover {
    color: white;
    background-color: #777;
    cursor: pointer;
    transition: all 0.5s;
}

.ft {
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: white;
    justify-content: space-between;
    padding: 50px 20%;
}

.ft > article {
    max-width: 30%;

}

footer > article > address {
    opacity: 50%;
    line-height: 2;
}

footer > article > p {
    opacity: 50%;
    line-height: 2;
}